.day-summary {
    text-align: left;
    &__title {
        color: #403B36;
        text-align: center;
      }
      &__description--special, &__description--list {
        color: white;
        background: #403B36;
        padding: 20px 30px;
        border-radius: 8px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
      }
  }