.day-summary {
    text-align: left;
    &__title {
        color: navy;
        text-align: center;
      }
      &__description--special, &__description--list {
        color: white;
        background: rgb(43, 43, 43);
        padding: 20px 30px;
        border-radius: 16px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
      }
  }