.footer {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 20%;
      width: 60%;
      height: 1px;
      background: black;
      z-index: 1;
    }
  }