.header {
    &-description {
      background: white;
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border: 2px solid black;
      border-radius: 16px;
    }
    &-description__header {
      color: crimson;
      text-align: center;
    }
    &-description__image {
      border-radius: 16px;
      max-width: 100%;
    }
    &-description__text {
      padding: 20px;
      text-align: center;
    }
    &__title {
      color: crimson;
      text-align: center;
      // margin-top: 70px;
      padding-bottom: 16px;
      position: relative;
    }
    &__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30%;
      width: 40%;
      height: 2px;
      background: royalblue;
    }
  }