.main {
  max-width: 100%;
  margin: 16px auto 32px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  column-gap: 16px;
  &--contact {
    grid-template-columns: 1fr;
  }
}

.notes {
  grid-template-columns: 1fr 1fr 1fr;
}
