.navigation {
    padding: 16px;
    display: none;
    &--open {
      display: block;
    }
    &__wrap {
      min-height: 50px;
      width: 100%;
      background: rgba(68, 109, 233, 0.9);
      position: fixed;
      top: 0;
      z-index: 2;
    }
    &__link {
      text-transform: uppercase;
      text-align: center;
      color: black;
      background: rgba(68, 109, 233, 0.9);
      display: block;
      padding: 10px 0;
      transition: .3s;
    }
    &__link:hover {
      color: white;
      background-color: rgb(0, 0, 0);
    }
  }

  .hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid black;
    height: 30px;
    width: 30px;
  }