.week-summary {
    padding: 20px;
    border: 1px solid black;
    border-radius: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__title {
      color: crimson;
      font-size: 32px;
      text-align: center;
      position: relative;
      z-index: 1;
    }
    &__title::after {
      content: "";
      position: absolute;
      bottom: -10%;
      left: -15%;
      width: 130%;
      height: 2px;
      background: royalblue;
      z-index: 1;
    }
    &__comment {
      &-heading {
        font-size: 24px;
        color: royalblue;
        text-align: center;
      }
      &--list {
        border: 1px solid black;
        padding: 20px 30px;
        border-radius: 16px;
        color: crimson;
      }
    }
  }