@import "~normalize.css";

@import "modules/navigation.scss", "modules/header.scss",
  "modules/week-summary.scss", "modules/day-summary.scss",
  "modules/contact.scss", "modules/main.scss", "modules/footer.scss", "modules/notes.scss";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffdee9;
  background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);;
}

a {
  text-decoration: none;
}

.a {
  &__link {
    color: rgb(199, 31, 67);
    font-weight: bold;
  }
}

.date--js {
  text-align: right;
  font-style: italic;
  color: crimson;
}

@media screen and (max-width: 767px) {
  .main {
    grid-template-columns: 1fr;
  }

  .week-summary__title,
  .contact__header {
    font-size: 24px;
  }

  .header-description {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(68, 109, 233, 0.7);
    height: 50px;
    &__link {
      height: 100%;
      margin: 0 auto;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
    }
  }

  .hamburger {
    display: none;
  }
}
