@import "~normalize.css";

@import "modules/navigation.scss", "modules/header.scss",
  "modules/week-summary.scss", "modules/day-summary.scss",
  "modules/contact.scss", "modules/main.scss", "modules/footer.scss", "modules/notes.scss";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffdee9;
  background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);;
}

a {
  text-decoration: none;
}

.a {
  &__link {
    color: rgb(199, 31, 67);
    font-weight: bold;
  }
}

.date--js {
  text-align: right;
  padding-right: 20px ;
  font-style: italic;
  color: crimson;
}

@media screen and (max-width: 767px) {
  .main {
    grid-template-columns: 1fr;
  }

  .week-summary__title,
  .contact__header {
    font-size: 24px;
  }

  .header-description {
    flex-direction: column;
  }
  
  .contact {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    &__header {
      grid-column:1;}
    &__option {
        width: 80%;
        margin: 10px auto;
  }}
}

@media (min-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(68, 109, 233, 0.9);
    height: 50px;
    &__link {
      min-width: 20%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  .hamburger {
    display: none;
  }

  .header{
    &__title {
      margin-top: 70px;
    }
  }
}
